*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:#050505;
    color:white;
    min-height:100vh;
    padding:40px;
    overflow-x:hidden;
}

.background-glow{
    position:fixed;

    width:700px;
    height:700px;

    background:#1e5eff;

    border-radius:50%;

    filter:blur(250px);

    opacity:.08;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);
}

/* NAV */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    position:relative;
    z-index:2;
}

.back-btn{
    text-decoration:none;
    color:white;
    opacity:.7;
    transition:.3s;
}

.back-btn:hover{
    opacity:1;
}

#clock{
    opacity:.7;
    letter-spacing:2px;
}

/* HERO */

.hero{
    max-width:1200px;

    margin:80px auto;

    display:grid;
    grid-template-columns:350px 1fr;

    gap:60px;

    align-items:center;

    position:relative;
    z-index:2;
}

.cover img{
    width:100%;
    border-radius:28px;

    box-shadow:
    0 0 30px rgba(30,94,255,.15);
}

.book-info span{
    color:#1e5eff;
    letter-spacing:3px;
    font-size:13px;
    font-weight:600;
}

.book-info h1{
    margin-top:15px;
    font-size:72px;
    line-height:1.05;
}

.description{
    margin-top:24px;

    max-width:650px;

    color:rgba(255,255,255,.65);

    line-height:1.9;
}

/* PREVIEW */

.preview{
    max-width:900px;
    margin:80px auto;

    position:relative;
    z-index:2;
}

.preview h2{
    font-size:36px;
    margin-bottom:15px;
}

.preview h3{
    color:#1e5eff;
    margin-bottom:30px;
}

.excerpt{

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    border-radius:28px;

    padding:40px;
}

.excerpt p{
    color:rgba(255,255,255,.82);

    line-height:2;

    margin-bottom:24px;
}

.fade-text{

    margin-top:20px;

    color:#1e5eff;

    font-weight:600;
}

/* PUBLISH */

.publish-section{

    max-width:900px;

    margin:80px auto;

    position:relative;
    z-index:2;
}

.publish-section h2{
    font-size:36px;
}

.publish-section p{

    margin-top:15px;

    color:rgba(255,255,255,.6);
}

.platforms{

    display:flex;

    gap:15px;

    flex-wrap:wrap;

    margin-top:35px;
}

.platforms button{

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    color:white;

    padding:14px 24px;

    border-radius:16px;

    cursor:pointer;

    transition:.3s ease;
}

.platforms button:hover{

    transform:translateY(-4px);

    border-color:#1e5eff;

    box-shadow:
    0 0 20px rgba(30,94,255,.15);
}

/* MOBILE */

@media(max-width:768px){

    body{
        padding:24px;
    }

    .hero{

        grid-template-columns:1fr;

        gap:40px;

        text-align:center;
    }

    .book-info h1{
        font-size:48px;
    }

    .preview h2,
    .publish-section h2{
        font-size:28px;
    }

    .excerpt{
        padding:25px;
    }

}
